#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #06b9c9;
}






